<html lang="en">
    <head>
        <title>Help</title>
        <meta charset="UTF-8">
        <script src="/help-screen.components.ts" type="module"></script>
    </head>
    <body>
        <div style="text-align: center;">
            <h2>How to use the app</h2>
            <div style="text-align: left;">
                <ol type=""1>
                    <li>Select Population - Choose the population of bones whose data you will be comparing your results to.</li>
                    <li>Select Sex - Select the biological sex of your comparison subject. Biological sex determines which set of statistics must be used during calculations.</li>
                    <li>Select Bone - Choose what type of bone you are comparing. Clavicle is only available in the US population set</li>
                    <li>ROC Graph - Displays the progression of the three different formats of the equation: using only mean, using only standard deviation, or using both. Using this graph, choose which equation is most effective for you in the Select Calculation Choice field</li>
                    <li>Select Calculation Choice - Select what statistical measurements you will be entering into the equation: mean, standard deviation, or both.</li>
                </ol>
            </div>
        </div>
        
    </body>
</html>