<p>bone-calc works!</p>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <script src="/index.js" type="module"></script>
</head>

<body>

    <form action="" id="dataform">
        <h2>Femur</h2>
        <h3>D_mean</h3>
        <input type="text" id="femur_dmean_male" class="form-control" placeholder="Male">
        <input type="text" id="femur_dmean_female" class="form-control" placeholder="Female">
        <h3>D_sd</h3>
        <input type="text" id="femur_dsd_male" class="form-control" placeholder="Male">
        <input type="text" id="femur_dsd_female" class="form-control" placeholder="Female">
        <br>

        <h2>Tibia</h2>
        <h3>D_mean</h3>
        <input type="text" id="tibia_dmean_male" class="form-control" placeholder="Male">
        <input type="text" id="tibia_dmean_female" class="form-control" placeholder="Female">
        <h3>D_sd</h3>
        <input type="text" id="tibia_dsd_male" class="form-control" placeholder="Male">
        <input type="text" id="tibia_dsd_female" class="form-control" placeholder="Female">
        <br>

        <h2>Fibula</h2>
        <h3>D_mean</h3>
        <input type="text" id="fibula_dmean_male" class="form-control" placeholder="Male">
        <input type="text" id="fibula_dmean_female" class="form-control" placeholder="Female">
        <h3>D_sd</h3>
        <input type="text" id="fibula_dsd_male" class="form-control" placeholder="Male">
        <input type="text" id="fibula_dsd_female" class="form-control" placeholder="Female">
        <br>

        <h2>Humerus</h2>
        <h3>D_mean</h3>
        <input type="text" id="humerus_dmean_male" class="form-control" placeholder="Male">
        <input type="text" id="humerus_dmean_female" class="form-control" placeholder="Female">
        <h3>D_sd</h3>
        <input type="text" id="humerus_dsd_male" class="form-control" placeholder="Male">
        <input type="text" id="humerus_dsd_female" class="form-control" placeholder="Female">
        <br>

        <h2>Radius</h2>
        <h3>D_mean</h3>
        <input type="text" id="radius_dmean_male" class="form-control" placeholder="Male">
        <input type="text" id="radius_dmean_female" class="form-control" placeholder="Female">
        <h3>D_sd</h3>
        <input type="text" id="radius_dsd_male" class="form-control" placeholder="Male">
        <input type="text" id="radius_dsd_female" class="form-control" placeholder="Female">
        <br>

        <h2>Ulna</h2>
        <h3>D_mean</h3>
        <input type="text" id="ulna_dmean_male" class="form-control" placeholder="Male">
        <input type="text" id="ulna_dmean_female" class="form-control" placeholder="Female">
        <h3>D_sd</h3>
        <input type="text" id="ulna_dsd_male" class="form-control" placeholder="Male">
        <input type="text" id="ulna_dsd_female" class="form-control" placeholder="Female">
        <br>

        <br><br>
        <button type="submit" class="button">Submit</button>
    </form>
</body>
</html>