<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="/bone-calc.components.ts" type="module"></script>
    </head>
    <body>    
        <div class="flex flex-col items-center justify-center border border-black rounded-md w-full h-full m-4 pb-2">
            <div class="flex flex-col items-center">
                <h3 class="py-2 text-black font-bold">Select sex and bone</h3>
                <form [formGroup]="applyForm" (ngSubmit)="calc()">
                    <label class="pr-1 font-semibold" for="choose_pop">
                        Select Population
                    </label>
                        <select class="border border-slate-900 rounded-sm pr-2" name="population" id="pop" (change)="onOptionChange($event)" formControlName = "population">
                            <option value="american">
                                American
                            </option>
                            <option value="korean">
                                Korean
                            </option>
                        </select>
                    <label class="pr-1 font-semibold" for="choose_sex">
                        Select Sex: 
                    </label> 
                        <select class="border border-slate-900 rounded-sm pr-2" name="sex" id="sex" (change)="onOptionChange($event)" formControlName ="gender"> 
                            <option value="male">
                                Male
                            </option> 
                            <option value="female">
                                Female
                            </option> 
                        </select>
                    <label class="p-1 font-semibold">
                        Select Bone: 
                    </label> 
                        <select class="border border-slate-900 pr-2 rounded-sm" name="bone" id="bone" (change)="onOptionChange($event)"formControlName="bone">
                            <option value="femur">
                                Femur
                            </option>
                            <option value="tibia">
                                Tibia
                            </option>
                            <option value="fibula">
                                Fibula
                            </option>
                            <option value="humerus">
                                Humerus
                            </option>
                            <option value="radius">
                                Radius
                            </option>
                            <option value="ulna">
                                Ulna
                            </option> 
                        </select>
                        <div class="px-2 flex items-center justify-center">
                            <img class="border border-black mt-4 mb-2 w-3/4" [src]="selectedImage" *ngIf="selectedImage">
                        </div>
                    <div class="pt-2 pb-4">
                        <label class="py-1 font-semibold" for="choose_calc">
                            Select Calculation Choice: 
                        </label> 
                        <select class="border border-slate-900 pr-2 rounded-sm" name="choice" id="choice" formControlName ="calcChoice"> 
                            <option value="mean">Mean</option> 
                            <option value="sd">SD</option> 
                            <option value="both">Both</option>
                        </select>
                    </div>
                    <div class="py-3 flex flex-col">
                        <p class="font-semibold pb-2">Enter measurements:</p>
                        <input type="text" id="dmean" class="form-control border border-slate-900 rounded-sm placeholder-slate-500 px-2 mb-2" placeholder="D_mean" formControlName = "mean">
                        <input type="text" id="dsd" class="form-control border border-slate-900 rounded-sm placeholder-slate-500 px-2" placeholder="D_sd" formControlName = "sd">
                    </div>
                    <div class="p-2 mb-2 border border-black result-section" *ngIf="calculationResult">
                        <h4>Calculation Result:</h4>
                        <pre>{{ calculationResult }}</pre>
                    </div>  
                    <div class="flex justify-center gap-3">
                        <button class="border border-x-white bg-red-500 hover:bg-red-400 rounded-md py-2 px-5 text-white" (click)="reset()">Reset</button>
                        <button class="border border-x-white bg-green-500 hover:bg-green-400 rounded-md py-2 px-4 text-white" type="submit" >Submit</button>
                    </div>
                </form>    
            </div>
        </div>
    </body>
</html>